
.top-container {
  display: flex;
  flex-flow: row nowrap;

  .profile__h1 {
    margin: 5% 0 0 5%;
  }
  .signOut {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: .9rem;
    font-weight: bold;
    padding: 1%;
    margin: 10% 0 0 35%;
    background: $nav-blue;
    color: $text-black;
    border-radius: 5px;
  }
  
}


.profileSvg {
  margin: 25% 0 0 10%;
  width: 80%;
}

.header-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 10% 5% 0 5%;

  .current-book__header {
    font-size: 1.3rem;
  }

  .border {
    height: 1px;
    width: 90vw;
    margin: 2% 0;
  }
  .current-book {
    font-size: 1.2rem;
    color: $text-black;
  }
}

