//MIXINS
@mixin form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@mixin form-input {
  margin: 8% 0;
  width: 75vw;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
  background: $background-gray-lighter;
  font-size: 1.3rem;
}

//VARIABLES
$background-gray-lighter: #F7F7F7;
$text-black: #252728;
$nav-blue: #e8eef2;

@media (min-width: 481px) {
  * {
    display: none;
  }
}

@media (max-width: 480px) {
  
//PARTIALS
@import '../components/LoginContainer/LoginContainer';
@import '../components/SignUpForm/SignUpForm';
@import '../components/SearchForm/SearchForm';
@import '../components/LoginForm/LoginForm';
@import '../components/Nearby/Nearby';
@import '../components/Navbar/Navbar';
@import '../components/Profile/Profile';
@import '../components/Hello/Hello';
@import '../components/Events/Events';
@import '../components/Home/Home';
@import '../components/Book/Book';

}

