body {
  overscroll-behavior-y: contain;
}

body {
  background: #f7f7f7;
}

.success-message {
  position: fixed;
  z-index: 100;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #adffad;
  color: #252728;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 4%;
  width: 100vw;
  height: 5vh;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .login__logo {
  margin: 0;
  width: 50%;
}

.login-container .login__h1 {
  font-size: 3rem;
  margin-top: 0;
  color: #252728;
}

.login-container .login-error {
  position: fixed;
  z-index: 100;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E79A9A;
  color: #252728;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 4%;
  width: 100vw;
  height: 5vh;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.desktop-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop-container .desktop__header {
  font-size: 5rem;
  margin: 5% 0 2% 0;
}

.desktop-container .desktop__sub-header {
  font-size: 1.6rem;
}

.desktop-container .desktop__img {
  width: 60%;
}

.signup__form .signup-input {
  margin: 8% 0;
  width: 75vw;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
  background: #f7f7f7;
  font-size: 1.3rem;
}

.signup__form .button__signup {
  display: block;
  margin-top: 20%;
  color: white;
  font-weight: bold;
  background: slategray;
  border-color: gray;
  width: 75vw;
}

.signup__form .button__cancel {
  display: block;
  color: white;
  font-weight: bold;
  background: #3f454d;
  border-color: gray;
  margin-top: 10%;
  width: 75vw;
}

.search-container {
  margin: 5% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.search-container .search {
  margin: 8% 0;
  width: 75vw;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
  background: #f7f7f7;
  font-size: 1.3rem;
  width: 70vw;
}

.search-container .cancel {
  margin-left: 0%;
}

.search-container .cancel:active {
  width: 1.6rem;
}

.login__form .login__form-input {
  margin: 8% 0;
  width: 75vw;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
  background: #f7f7f7;
  font-size: 1.3rem;
}

.login__form .login__button {
  margin-top: 20%;
  color: white;
  font-weight: bold;
  background: slategray;
  border-color: gray;
}

.login-link,
.signup-link {
  display: block;
  text-decoration: none;
}

#Map {
  height: 92vh;
  width: 100vw;
}

#Map .refresh {
  z-index: 10000;
}

.leaflet-touch .leaflet-bar {
  position: fixed;
  right: 32px;
  bottom: 130px;
}

.mapSvg {
  margin: 75% 0 0 8%;
  width: 80%;
}

.Navbar {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 8vh;
  border-top: 1px solid gray;
  background: #e8eef2;
  z-index: 1000;
}

.Navbar .activeRoute {
  border-bottom: 4px #92c8e7 solid;
  margin-top: 10px;
  padding-bottom: 5px;
}

.Navbar .nav-item img {
  width: 2rem;
}

.Navbar .nav-item img:active {
  margin-bottom: 10px;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.top-container .profile__h1 {
  margin: 5% 0 0 5%;
}

.top-container .signOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .9rem;
  font-weight: bold;
  padding: 1%;
  margin: 10% 0 0 35%;
  background: #e8eef2;
  color: #252728;
  border-radius: 5px;
}

.profileSvg {
  margin: 25% 0 0 10%;
  width: 80%;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 10% 5% 0 5%;
}

.header-container .current-book__header {
  font-size: 1.3rem;
}

.header-container .border {
  height: 1px;
  width: 90vw;
  margin: 2% 0;
}

.header-container .current-book {
  font-size: 1.2rem;
  color: #252728;
}

.hello__h1 {
  margin: 5% 0 0 5%;
}

.helloSvg {
  margin: 30% 0 0 15%;
  width: 75%;
}

.events__h1 {
  margin: 5% 0 0 5%;
}

.eventsSvg {
  margin: 30% 0 0 15%;
  width: 75%;
}

.Home .bookSvg {
  margin: 30% 0 0 15%;
  width: 75%;
}

.Home .add-book-msg {
  position: fixed;
  z-index: 100;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d2e6ee;
  color: #252728;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 4%;
  width: 100vw;
  height: 5vh;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 4% 4%;
  -webkit-box-shadow: 0px 1px 10px 1px #FFFFFF;
          box-shadow: 0px 1px 10px 1px #FFFFFF;
}

.card .img {
  width: 128px;
  height: 189px;
}

.card .addBtn {
  max-width: 50px;
  padding-right: 5%;
  padding-top: 35%;
}

.card .addBtn:active {
  width: 4.2rem;
}

.card .collapse {
  height: 80vh;
}
/*# sourceMappingURL=global.css.map */