#Map {
  height: 92vh;
  width: 100vw;
  .refresh {
    z-index: 10000;
  }
}

.leaflet-touch .leaflet-bar {
  position: fixed;
  right: 32px;
  bottom: 130px;
}

.mapSvg {
  margin: 75% 0 0 8%;
  width: 80%;
}

