body {
  background: $background-gray-lighter;
}

.success-message {
  @include flash-msg(rgb(173, 255, 173), $text-black)
}

.login-container {
  @include form-container;

  .login__logo {
    margin: 0;
    width: 50%;
  }
  .login__h1 {
    font-size: 3rem;
    margin-top: 0;
    color: $text-black;
  }

  .login-error {
    @include flash-msg (#E79A9A, $text-black)
  }
}